* {
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    text-align: center;
    justify-content: center;
    }

.container {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

h1 {
    color: #7268a2;
    text-align: center;
    margin-top: 30px;
    font-size: 3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: color 0.3s ease-in-out;
    padding: 20px;
}

h1:hover {
    color: #7d7993;
}

h2 {
    color: #7268a2;
    text-align: center;
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: color 0.3s ease-in-out;
}

h3 {
    color: #7268a2;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: color 0.3s ease-in-out;
    margin: 20px;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(76, 57, 100)
}

section {
    padding: 20px;
}

footer {
    /* background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%; */
    
    background-color: transparent;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.loginSignupForm {
    max-width: 800%;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff7e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(96, 96, 96);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

form .login-button {
    background-color: #3aa2d9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

form .login-button:hover {
    background-color: #8bc8e9;
}

form label,
form input {
    margin: 10px 0;
    width: 100%;
}

form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 1px;
    margin-bottom: 1px;
    border-radius: 5px;
    background-color: #ffffff7e;
    border-color: #333;
    color: black;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    box-shadow: 0 0 10px rgb(96, 96, 96);
    padding: 10px;
    text-align: center;
    max-width: 100%;
}

nav .logo {
    color: #7268a2;
    font-weight: bold;
    margin: 0 10px;
    padding: 4px 8px;
    text-decoration: none;
    background-color: transparent;
    transition: color 0.3s ease-in-out;
}

nav a {
    /* color: #39a4de; */
    color: #7268a2;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-weight: 400;
    margin: 0 10px;
    /* padding: 4px 8px; */
    padding: 0;
    text-decoration: none;
    background-color: transparent;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #77C3EC;
}

nav {
    background-color: transparent;
    padding: 10px;
}

.nav button:last-child {
    border-right: none;
}

a {
    color: #bb9274;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    margin-bottom: 20px;
    padding: 20px;
}

a:hover {
    color: #9c511b;
}

#searchForm {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#searchForm input {
    border: 1px white;
    color: black;
}

.contacts-container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 50px;
    padding: 25px;
}

.contact-card {
    position: relative;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff7e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(96, 96, 96);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contact-card a::before {
    position: absolute;
    content:"";
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    margin: 0;
    padding:0;
}

.contact-card a {
    font-size: 20px;
    font-weight: bold;
    color: #7268a2; 
}

.contact-card p {
    font-size: 20px;
    font-weight: bold;
    color: #7268a2; 
    width: 400px;
}

.home h3 {
    font-size: 20px;
    margin: 1rem;
    color: #5e548e;
}

.home p {
    font-size: 20px;
    margin: 1rem;
    color: #5e548e; 
    padding: 25px;
}

.home a {
    font-size: 20px;
    /* text-decoration: underline; */
    color: #5e548e;
    background-color: #9dd9f3;
    border-radius: 20px;
}

.home a:hover {
    color: #007bff;
    background-color: #b8e2f2;
    font-weight: bold;
}

.home .card {
    position: relative;
    max-width: 800%;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff7e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(96, 96, 96);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .card_container {
    min-width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1.5rem;
    padding: 25px;
}

.home h2 {
    margin: 1rem;
    color: #8278b0;
}

.contacts-button {
    position: relative;
    text-align: center;
    margin: 0.5rem;
    
    /* background-color: #3aa2d9; */
    /* background-color: #9dd9f3; */
    background-color: #87ceed;
    padding: 10px 20px;
    border: none;
    /* border-radius: 4px; */
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    width: 200px;
}

.contacts-back-button {
    margin: 0.5rem;
}

.contacts-button a::before {
    position: absolute;
    content:"";
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    margin: 0;
    padding:0;
}

.contacts-button:hover {
    /* background-color: #8bc8e9; */
    background-color: #7ec0e3;
}

.contacts-button a {
    margin: 0;
    padding: 0;
    /* color: #8e86b0; */
    color: white;
}


.contacts-button input {
    margin: 0;
    padding:0;
    color: #fff;
    /* color: #8e86b0; */
    /* color: #5e548e; */
}

.contacts-submit-button {
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    font-size: 14px;
    font-weight: bold;
    /* background-color: #3aa2d9; */
    /* background-color: #9dd9f3; */
    background-color: #87ceed;
    padding: 10px 20px;
    border: none;
    /* border-radius: 4px; */
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 200px;
    color: white;
}

.contacts-submit-button:hover {
    /* background-color: #8bc8e9; */
    background-color: #7ec0e3;
}

/* #addContactForm input{
    color: white;
} */

#addContactForm input#name, input#email{
    color: black;
}

button {
    font-weight: bold;
}

.contacts-select-contacts-button a {
    margin: 0;
    padding:0;
    color: #fff;
    font-size: 20px;
}

.contacts-add-button {
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    /* background-color: #3aa2d9; */
    /* background-color: #9dd9f3; */
    background-color: #87ceed;
    width: 100px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    color: white;
}

.contacts-add-button a::before {
    position: absolute;
    content:"";
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    margin: 0;
    padding: 0;
}

.contacts-add-button a {
    margin: 0;
    padding:0;
    color: #fff;
    /* color: #8e86b0; */
    font-size: 20px;
}

.contacts-add-button:hover {
    /* background-color: #8bc8e9; */
    background-color: #7ec0e3;
}

.contacts-buttons-container button {
    padding: 0;
    margin: 0;
    padding: 10px 20px;
}

.contacts-buttons-container input {
    /* padding: 0; */
    margin: 0;
    color: white;
}

.contacts-buttons-container {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 0.5rem;
}

.chkbox-contact {
    border-radius: 3px;
    border: 1px solid lightgray;
    background: #FFF;
    justify-self: right;
    margin: 14px;
    margin-top: 2px;
}

.contact-card .chkbox-contact::before{
    position: absolute;
    content:"";
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    margin: 0;
    padding:0;
}

#openPopup {
    background-color: #306c8c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 0 10px rgb(96, 96, 96);
}

 #openPopup:hover {
    background-color: #69a5c6;
}
  
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
  }


  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  .popup-content input[name="title"] {
    border: none;
    border-bottom: 2px solid rgb(70, 70, 70);
  }

  .popup-content input[name="title"]:hover {
    background-color: rgb(224, 224, 224);
    border: none;
    border-bottom: 2px solid rgb(70, 70, 70);
    border-radius: 4px;
  }

  .popup-content input[name="invitation-date"] {
    border: none;
    border-bottom: 0px solid rgb(70, 70, 70);
  }

  .popup-content input[name="invitation-date"]:hover {
    background-color: rgb(224, 224, 224);
    border: none;
    border-bottom: 0px solid rgb(70, 70, 70);
    border-radius: 4px;
    cursor: pointer;
  }

  .popup-content input[name="appointment"] {
    width: 75%;
    height: 75%;
    border:  0px;
    border-radius: 4px;
  }
  .popup-content input[name="appointment"]:hover {
    background-color: rgb(224, 224, 224);
    border: none;
    border-bottom: 0px;
    border-radius: 4px;
    cursor: pointer;
  }

  .popup-content input[name="email"] {
    border:  0.5px solid rgba(70, 70, 70, 0.266);
    border-radius: 4px;
  }
  .popup-content input[name="email"]:hover {
    background-color: rgb(224, 224, 224);
    border: none;
    border-bottom: 0px;
    border-radius: 4px;
  }

  .popup-content input[name="description"] {
    border:  0.5px solid rgba(70, 70, 70, 0.266);
    border-radius: 4px;
    width: 100%;
    height: 60px;
  }
  .popup-content input[name="description"]:hover {
    background-color: rgb(224, 224, 224);
    border: none;
    border-bottom: 0px;
    border-radius: 4px;
  }

  .popup-content label {
    font-size: 12px;
  }

  .invitationForm {
    max-width: 800%;
    width: 350px;
    height: 350;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff7e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(96, 96, 96);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invitationFormPage {
  /* max-width: 800%; */
  width: 350px;
  height: 350;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 30px;
  background-color: #ffffff7e;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(96, 96, 96);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.send-invite-button {
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    /* background-color: #3aa2d9; */
    background-color: #87ceed;
    width: 150px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0.5rem;
    border: none;
    /* border-radius: 4px; */
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    color: white;
}

.send-invite-button:hover {
    background-color: #78bfe6;
}

.send-invite-button a {
    margin: 0;
    padding:0;
    color: white;
}

.send-invite-button a::before {
    position: absolute;
    content:"";
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    margin: 0;
    padding:0;
}

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }


.calendar {
    display: flex;
    border-collapse: collapse;
    font-family:monospace;
    margin-top: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

td, th {
    border: white 2px solid;
    width: 3rem;
    height: 1rem;
}


.time {
    vertical-align: center;
    border: 0px;
    text-align: center;
    font-size: 0.6rem;
    
    
}

#empty_row th {
    border: 0;
}

#last_time {
    padding-bottom: 5px;
}

.calendar_link {
    border: 0px;
}

#first_time {
    padding-top: 18.5px;

}

#daysoftheweek th:not(#first_time){
    border: 0;
    vertical-align: bottom;
    font-weight: lighter;
    font-size: 0.8rem;
    padding: 7px;
    letter-spacing: 1.5px;
}
.status p {
    color: #5e548e;
    margin: 1rem;
    margin-bottom: 2rem;
}

.status h3 {
    color: #de87b7;
    margin-top: 2rem;
}

.status a {
    color: #5e548e;
    /* text-decoration: underline; */
    background-color: #9dd9f3;
    border-radius: 20px;
    margin: 8px;
}

.status a:hover {
    color: #007bff;
    background-color: #b8e2f2;
    font-weight: bold;
    border-radius: 20px;
}

.status {
    color: #8174c2;
    margin: 1rem;
}

.available {
    background-color: #e7fde5;
    border-top: 0px;
    border-bottom: 0px;
    border-color: rgb(194, 206, 213);
    font-family: monospace;
    font-size: 10px;
}

.choose_button {
    padding: 14px;
    /* color: #5e548e; */
    color: white;
    font-size: 15px;
    /* background-color: #9dd9f3; */
    background-color: #87ceed;
    border-radius: 15px;
}

.choose_button:hover {
    color: #007bff;
    background-color: #b8e2f2;
    /* background-color: #7ec0e3; */
    font-weight: bold;
    border-radius: 20px;
}

/* .choose_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}
.choose_div2 {
    display: flex;
    flex-direction: row;
    margin-left: 350px;
    align-items: center;
    margin-top: -75px;
} */

.choose-available-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

.cal_name {
    display: flex;
    background-color: #5e548e;
    justify-content: space-between;
}

p {
    margin-right: 2rem;
}

.back-next-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.5rem;
    gap: 10rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.suggested-button-container {
    margin-top: 3rem;
    margin-bottom: 0;
}

.all_cal {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.cal_container {
    display: flex;
    justify-content: center;
}

#main_text {
    margin-bottom: 7rem;
    display: flex;
    justify-content: center;
    font-family: monospace;
    background-color: #f0e7f3;

}

#main_text button {
    border-radius: 20rem;
    background-color: white;
    font-family: monospace;
    font-weight: lighter;
    border: 0;
    margin-right: 1rem;
}

p {
    margin-right: 0.5rem;
    color: #968c81;
}

td {
    background-color: rgba(255, 255, 255, 0.923);
    border-color: #edddea;
    margin: 0;
}

.choice_a {
    background-color: #e2f8ffa8;
    border-top: 0;
    border-bottom: 0;
    border-color: rgb(217, 203, 203);
}

#preference td:not(.available, .choice_a, .choice_b, .choice_c){
    background-color: rgba(247, 247, 247, 0);
    border-color: #c8b5c486 ;

}

.choice_b {
    background-color: hsl(333, 8%, 79%);
    border-top: 0;
    border-bottom: 0;
    border-color: rgb(217, 203, 203);
}

.choice_c {
    background-color: hsl(11, 84%, 93%);
    border-top: 0;
    border-bottom: 0;
    border-color: rgb(217, 203, 203);
}

.all_cal {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.all_cal label{
    font-family: monospace;
    font-size: 10px;
}



main {
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 485px){
    .contacts-container {
        flex-direction: column;
    }
    .contact-card {
        width: 300px;
    }

    .contact-card p{
        width: 300px;
    }

    #searchForm {
        width: 300px;
    }

    .invitationFormPage {
        width: 300px;
    }

    .loginSignupForm {
        width: 300px;
    }

    table {
        width: 330px;
        overflow: auto;
        display: block;
    }

    .time {
        position: sticky;
        left: 0;
    }
}